@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
    font-family: "Pacifico", cursive;
}

.login-dropdown {
    overflow-y: scroll;
    max-height: 400px;
}

::-webkit-scrollbar {
    width: 0px;
}

.main-content {
    background: linear-gradient(
        180deg,
        #19875447,
        #fafafa
    ); /* Gradient background */
    animation: gradientAnimation 15s infinite alternate;
}
